@import url("controls.css");

*{
    -fx-font-family: Calibri;
    -fx-font-size: 14px;
}

#MainWindow {
    -fx-pref-width: 600px;
    -fx-pref-height: 400px;
    -fx-min-height: 400px;
    -fx-min-Width: 600px;
    -fx-max-height: 100%;
    -fx-max-width: 100%;
    -fx-background-color: #e0e0e0;
}

#Canva {
    -fx-background-color: #fff;
}

#Control_block {
    -fx-background-color: #d1d1d1;
    -fx-pref-width: 200px;
    -fx-min-width: 200px;
    -fx-max-width: 200px;
}